body {
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 22px 0px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 20px 0px;
  font-weight: 600;
}
.buy-btn {
  height: 40px;
  width: 100px;
  color: white;
  background: #2d91e1;
  border: 2px solid #2782d1;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 3px 3px 3px darkgray;
}
.buy-btn:active {
  box-shadow: none;
  transform: translateY(3px);
}
.buy-btn:hover {
  background: #185b93;
}
.selected {
  width: 80%;
  height: 60px;
  background: #efefef;
  border: 1px solid #00f;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 5px;
  box-shadow: inset 2px 2px 5px grey, inset -2px -2px 5px grey;
}
.notSelected {
  width: 80%;
  height: 60px;
  background: #efefef;
  border: 1px solid #00f;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 5px;
  box-shadow: 2px 2px 2px black;
}
.price-buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 100px;
}
.price {
  font-size: 30px;
}
